@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: true,
  $enable-classes: false,
  $theme-color: "amber"
);

@use "@picocss/pico/scss/colors";

:root {
  --heading-font: "Chakra Petch", sans-serif;
  --heading-font-weight: 400;
  --body-font: "Overpass Mono", monospace;
}

@media (min-width: 1280px) {
  body > main {
    max-width: 60%;
  }
}

@media (min-width: 1536px) {
  body > main {
    max-width: 50%;
  }
}

body {
  font-size: 0.85rem;
}

body,
code,
pre {
  font-family: var(--body-font);
}

code {
  padding: inherit;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
}
